<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @order.user %>
</p>

<p>
  <b>Template:</b>
  <%= @order.template %>
</p>

<p>
  <b>Food:</b>
  <%= @order.food %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
