= form_for(@order) do |f|
  = render :partial => 'errors'

  %fieldset
    %legend For this weeks BBQ, I would like...

    = f.food 1, "Beef Burger"
    = f.food 2, "Beef Burger"
    = f.food 1, "Halaal Burger"
    = f.food 2, "Halaal Burger"
    = f.food 1, "Veggie Burger"
    = f.food 2, "Veggie Burger"
    = f.food 1, "Salmon Burger"
    = f.food 2, "Salmon Burger"

    %input#choose-other-food(type='checkbox' name='choose-other-food' value="true")
    %label(for="choose-other-food") Other
    = f.text_field 'Other Food'


  %fieldset
    %legend
      Grocery stuff for everybody to share
      .secondary-info
        (ex. freezies, popsicles etc.) - Funded by Nulogy pending approval (before purchase)

    = f.text_field "Special Order"

  %fieldset
    %legend
      Beverage Requests
      .secondary-info
        (non-alcoholic)

    = f.food "Coke"
    = f.food "Sprite / 7Up"
    = f.food "Pepsi"
    = f.food "Root Beer"
    = f.food "Fruit Juice"
    = f.food "Orange Juice"
    = f.food "Diet Pepsi"
    = f.food "Diet Coke"

  %fieldset
    %legend
      Beverage Requests
      .secondary-info
        (alcoholic =&gt; handled by Dave)

    = f.food "Beer"
    %input#choose-other-alcohol(type='checkbox' name='choose-other-alcohol' value="true")
    %label(for="choose-other-alcohol") Other
    = f.text_field "Other Alcohol"

  %fieldset
    %input(type="submit" value="Place Order!")
